.scrolling-banner {
    width: 100%;
    white-space: nowrap;
    text-align: center;



    .banner-item {
        display: inline-block;
        margin-top: -2rem;
        color: black;
        opacity: 0.1;
        padding-left: 3rem;

        &.active {
            color: $accent-yellow;
            opacity: 1;
        }
    }
}